COOKIE_DOMAIN='domain'

DOCUMENT_PATH='uploads'

SERVER_DOMAIN ='http://localhost:3000'

NODE_ENV='dev'

JWT_SECRET='secret'
JWT_ACCESS_TOKEN_TTL='1h'
JWT_REFRESH_TOKEN_TTL=1d

PORT=3000

POSTGRES_USER='user'
POSTGRES_PASSWORD='8881728'
POSTGRES_HOST='domain'
POSTGRES_PORT=3222
POSTGRES_DATABASE='db'

DATABASE_URL="postgresql://user:8881728@domain:3222/db?schema=public"
